/* Music ------------------------- */

.music {
  position: relative;
  top: 400px;
  color: black;
  background-color: white;
  height: auto;
  min-height: 400px;
}

.album-title {
  height: auto;
  width: 300px;
}

.album-pic {
  height: 300px;
  width: auto;
  background-color: blue;
}

.album-title p {
  font-size: 18pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  text-align: right;
  padding-top: 8px;
  margin-right: 50px;
}

.spacer {
  height: 300px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
