/* Music ------------------------- */

.music {
  position: relative;
  top: 400px;
  color: black;
  background-color: white;
  height: auto;
  min-height: 400px;
}

.album {
  line-height: 300px;
  height: 50px;
  text-align: right;
  background-color: #EAE6FF;
  margin: 10px;
}

.album-odd {
  background-color: #BBB8CC;
}

.album-title {
  height: auto;
  width: 350px;
  

}

.album-pic {
  height: 300px;
  width: auto;
  background-color: blue;
}

.album-title p {
  font-size: 18pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  text-align: right;
  padding-top: 8px;
  margin-right: 50px;
}

.vert-bar {
  height: 100%;
  width: 8px;
  background-color: black;
}
/*.album-title p {
  display: inline-block;
  line-height: 1.5;
  color: black;
  vertical-align: middle;
  font-size: 18pt;
  margin-top: 10px;
}*/

/*Background images------*/

#album-one {
  background: url(../images/Chika-pics-final/kokorohane-bw.jpg) no-repeat center;
}

#album-two {
  background: url(../images/Chika-pics-final/negai-bw.jpg) no-repeat center;
}

#album-three {
  background: url(../images/Chika-pics-final/shikisai-bw.jpg) no-repeat center;
}

#album-four {
  background: url(../images/Chika-pics-final/with-you-1-bw.jpg) no-repeat center;
}

#album-five {
  background: url(../images/Chika-pics-final/with-you-2-bw.jpg) no-repeat center;
}

#album-six {
  background: url(../images/Chika-pics-final/bossa-nova-bw.jpg) no-repeat center;
}
